.genero{
    font-family: 'Arial', sans-serif;
    color: #111013;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -30px; 
    font-size: 17px;
    

  }