.image-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Ajusta según tu necesidad */
    border: 2px solid rgb(178, 13, 178);
    border-radius: 1px;
    margin-left: 10px;
    
    margin: 20px;
    background-color: rgb(222, 212, 212);
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: grid;
    box-shadow: 0px 0px 20px #c1c4c2;
    
  }
  
  .centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(198, 210, 204); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid rgb(3, 4, 3);
    position: relative;
    width: 50%;
  }
  