.center {
    color: #010000;
    position: absolute;
    top: 150px; /* Ajusta la distancia desde la parte superior */
    left: 90px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    height: 2px;
  }